/*公共样式*/
/* *{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}*/
/* 引入头部 */
.header{
    width: 100%;
    z-index: 1;
}
/* 引入尾部 */
.footer{
    width: 100%;
}