*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style:none;
}
/* 头部大盒子 */
.head{
    width: 100%;
    height: 136px;
    position: relative;
}
/* 功能栏header头 */
.header{
    width: 100%;
    height: 100px;
    background-color: rgba(212,212,212,.7);
}

/* 功能栏中间空白 */
.header-center{
    width: 80%;
    height: 100px;
    margin-left: 10%;
}
/* logo设置 logo*/
.logo{
    width: 12%;
    height: 100px;
    float: left;
}
/* 搜索div盒子的属性 */
.searcher{
    width: 45%;
    height: 100px;
    position: absolute;
    left: 22%;
}
/* 搜索框表单 */
.search_form{
    width: 350px;
    height: 60px;
    background-image: linear-gradient(to right,rgba(202,202,202,.9),rgba(212,212,212,.9));
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 150px;
}
/* 搜索框的属性 */
.searcher>form>input{
    width: 255px;
    height: 38px;
    position: absolute;
    top: 15%;
    left: 10px;
}
/* 搜索按钮图片属性 */
.search_btn>img{
    width: 38px;
    height:38px;
    position: absolute;
    top: 20%;
    right: 20px;
}
/* vip历史上传登录按钮图标 */
.login{
    width: 23%;
    height: 100px;
    float: right;
    position: relative;
}
/* vip按钮图片 */
.login-a-vip{
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 5%;
    top: 30%;
}
/* 历史按钮图片 */
.login-a-history{
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 30%;
    top: 32%;
}

/*历史下拉菜单*/
.dd-content{
    width: 280px;
    height: 500px;
    z-index: 10000;
    background: #fff;
    display: none;
    font-size: 12px;
    position: absolute;
    left: -300%;
    top: 100%;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.dd-content-1{
    width: 280px;
    height: 50px;
    text-align: center;
    color: #ff5c38;
    font-size: 18px;
    line-height: 50px;
    background: #e1e1e1;
    border-bottom: 2px solid #ff5c38;
    display: block;
}
.dd-content-2{
    width: 270px;
    height: 20px;
    color: #999;
    font-size: 16px;
    padding: 0 0 0 20px;
    display: block;
}
.dd-content-3{
    width: 270px;
    height: 56px;
    color: #999;
    font-size: 16px;
    padding: 10px 0 0 10px;
    text-decoration: none;
    display: block;
    position: relative;
}
.content1{
    font-size: 13px;
    color: #111;
    line-height: 18px;
    margin-left: 10px;
    position: absolute;
    top: 10px;
}
.content2{
    font-size: 10px;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
}

/*鼠标移上去后修改下拉菜单链接颜色*/
.dd-content-3:hover{
    background-color: #f1f1f1;
}
/*鼠标移上去后显示下拉菜单*/
.dropdown:hover .dd-content{
    display: block;
}


/* 上传按钮图片 */
.login-a-upload{
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 55%;
    top: 30%;
}
/* 登录按钮图片 */
.login-a-login{
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 80%;
    top: 30%;
}


/* nav导航栏 */
#nav{
    width: 100%;
    height: 40px;
    z-index: 1111;
    background-color: #d8d8d8;
    margin: 0 auto;
    white-space: nowrap;
    position: relative;
}

.ul{
    width: 1120px;
    height: 40px;
    margin-left: 10%;
}
/*容器<li>需要定位下拉内容*/
.dropdown{
    position: relative;
    display: inline-block;
}
/*不同的下拉按钮样式*/
.dropbtn{
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    background-color: #d8d8d8;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    line-height: 40px;
    float: left;
}

/*下拉内容（默认隐藏）*/
.dropdown-content{
    display: none;
    font-size: 12px;
    position: absolute;
    top: 40px;
    background-color: #d8d8d8;
    min-width: 76px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);*/
}
/*下啦菜单的链接*/
.dropdown-content>a{
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
/*鼠标移上去后修改下拉菜单链接颜色*/
.dropdown-content a:hover{
    color: #fff;
    background-color: #00a1d6;
}
/*鼠标移上去后显示下拉菜单*/
.dropdown:hover .dropdown-content{
    display: block;
}
/*当下拉内容显示后修改下拉按钮的背景颜色*/
.dropdown:hover .dropbtn{
    color: #fff;
    background-color: #00a1d6;
}