/*图片样式*/
.pic{
    width: 543px;
    height: 100%;
    background: url(../img/reg/reg-pic4.jpg) no-repeat;
    position: fixed;
    float: left;
    overflow: hidden;
    background-size: cover;
}
.cat{
    width: 300px;
    height: 245px;
    position: absolute;
    z-index: 1111;
    left: 560px;
    top: 400px;
}
/*注册样式*/
.reg{
    width: 500px;
    height: 765px;
    /*background: rgba(222,222,222,.6);*/
    margin: 0 200px;
    position: relative;
    left: 680px;
}
/*注册内容样式*/
.content{
    position: absolute;
    top: 50px;
}
/*行高*/
.hei{
    height: 60px;
}
/*标题文字样式*/
.title{
    font-size: 40px;
    margin: 0px 0px 20px;
}
/*列样式*/
.td{
    font-size: 20px;
    width: 120px;
    padding-left: 20px;
}
/*input输入框的样式*/
.input{
    width: 300px;
    height: 35px;
    padding: 0px 20px;
    border-radius: 3px;
    border: 1px solid #aaa;
}
/*下拉框的样式*/
.select{
    width: 120px;
    height: 35px;
    padding: 0px 10px;
    border-radius: 3px;
    border: 1px solid #aaa;
}
/*验证码框的样式*/
.verify{
    width: 80px;
    height: 35px;
    padding: 0px 20px;
    border-radius: 3px;
    border: 1px solid #aaa;
}
/*手机号框的样式*/
.phone{
    width: 175px;
    height: 35px;
    padding: 0px 20px;
    border-radius: 3px;
    border: 1px solid #aaa;
}
/*发送短信验证码按钮样式*/
.view1{
     width: 220px;
     height: 35px;
     display:block;
     background-image:linear-gradient(to bottom,#27b1f6,#0aa1ed);
     border-radius: 3px;
     font-size: 20px;
     color:#fff;
     text-decoration:none;
     text-align:center;
     line-height: 35px;
 }
/*图片验证码*/
.input-code {
    outline: none;
}
/*注册按钮样式*/
.view2{
     width: 100%;
     height: 50px;
     display:block;
     background-image:linear-gradient(to bottom,#27b1f6,#0aa1ed);
     margin-top: 15px;
     border-radius: 3px;
     font-size: 20px;
     color:#fff;
     text-decoration:none;
     text-align:center;
     line-height: 50px;
}
/*条款版权文字样式*/
.wen{
    color: #aaa;
    font-size: 13px;
    line-height: 30px;
}
.copy{
    text-align: center;
}