#header{
    position: relative;
}
.film{
    width: 81.25rem;
    height: 30rem;
    margin: 2.5rem auto;
    position: relative;
}
.vedio{
    width: 53.125rem;
    height: 30rem;
    position: absolute;
    left: 7.5rem;
    display: block;
}