#header{
    position: relative;
}
.film{
    width: 1580px;
    height: 480px;
    margin: 40px auto;
    position: relative;
}
.vedio{
    width: 850px;
    height: 480px;
    position: absolute;
    left: 230px;
    display: block;
}
